body {
    background-image: url(./sunnyday.jpg);
}

.lowUV {
    color: green;
}

.lowMedUV {
    color: rgb(176, 176, 35);
}

.medUV {
    color: orange;
}

.highUV {
    color: red;
}

.dangerous {
    color: violet;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.jumbotron {
    background-color: rgb(127, 126, 126);
    color: rgb(224, 221, 221);
    margin-top: 6rem;
}

#weather-results {
    font-size: 20px;
}
