body {
    background-image: url(./sunnyday.jpg);
}

.lowUV {
    color: green;
}

.lowMedUV {
    color: rgb(176, 176, 35);
}

.medUV {
    color: orange;
}

.highUV {
    color: red;
}

.dangerous {
    color: violet;
}

.hide {
    display: none;
}
.jumbotron {
    background-color: rgb(74, 73, 73);
    color: rgb(198, 198, 198);
    margin-top: 6rem;
}